# Attempt 3
### 120 epochs, Two hidden layers with 120 and 30 units (neurons) respectively.
### 72.27%

## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import backend as K

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

# Clear session to reset model name counter
K.clear_session

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], inplace=True, axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [20]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes.index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 528

# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts.head(20)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_counts[classification_counts > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 1883

# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "ASK_AMT"]])
dummies.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
X = dummies.values
y = application_df["IS_SUCCESSFUL"].values

In [28]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=120, activation="relu", input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 120)               8400

 dense_4 (Dense)             (None, 30)                3630

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 12,061
Trainable params: 12,061
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=120)

Epoch 1/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5726 - accuracy: 0.7227
Epoch 2/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5568 - accuracy: 0.7283
Epoch 3/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5535 - accuracy: 0.7301
Epoch 4/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5520 - accuracy: 0.7293
Epoch 5/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5501 - accuracy: 0.7297
Epoch 6/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 7/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5486 - accuracy: 0.7310
Epoch 8/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7313
Epoch 9/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5472 - accuracy: 0.7300
Epoch 10/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5461 - accuracy: 0.7329
Epoch 11/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5461 - accuracy: 0.7349
Epoch 12/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7326
Epoch 13/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5449 - accuracy: 0.7326
Epoch 14/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 15/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5440 - accuracy: 0.7342
Epoch 16/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5434 - accuracy: 0.7339
Epoch 17/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7341
Epoch 18/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 19/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 20/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 21/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5416 - accuracy: 0.7355
Epoch 22/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 23/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7360
Epoch 24/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 25/120
804/804 [==============================] - 4s 6ms/step - loss: 0.5408 - accuracy: 0.7376
Epoch 26/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 27/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 28/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5402 - accuracy: 0.7355
Epoch 29/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 30/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7354
Epoch 31/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 32/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 33/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 34/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 35/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5383 - accuracy: 0.7374
Epoch 36/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5386 - accuracy: 0.7364
Epoch 37/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 38/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 39/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 40/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7396
Epoch 41/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 42/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 43/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7379
Epoch 44/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7379
Epoch 45/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 46/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 47/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 48/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 49/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 50/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7377
Epoch 51/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7384
Epoch 52/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 53/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 54/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 55/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 56/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 57/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 58/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 59/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 60/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7403
Epoch 61/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7386
Epoch 62/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7389
Epoch 63/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 64/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 65/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7387
Epoch 66/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7398
Epoch 67/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 68/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 69/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 70/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 71/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 72/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7391
Epoch 73/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 74/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 75/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 76/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5347 - accuracy: 0.7389
Epoch 77/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 78/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7398
Epoch 79/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 80/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 81/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 82/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 83/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 84/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5410 - accuracy: 0.7399
Epoch 85/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 86/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 87/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 88/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 89/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7410
Epoch 90/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 91/120
804/804 [==============================] - 4s 4ms/step - loss: 0.5338 - accuracy: 0.7393
Epoch 92/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 93/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 94/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 95/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7409
Epoch 96/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 97/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 98/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 99/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7408
Epoch 100/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7398
Epoch 101/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7393
Epoch 102/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 103/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 104/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 105/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 106/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 107/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 108/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7406
Epoch 109/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 110/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 111/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7415
Epoch 112/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 113/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 114/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 115/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 116/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 117/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 118/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 119/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 120/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7402

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5684 - accuracy: 0.7270 - 598ms/epoch - 2ms/step
Loss: 0.5683608651161194, Accuracy: 0.7269970774650574

In [34]:
# Export our model to HDF5 file
nn.save("Resources/AlphabetSoupCharity_Optimization_3.h5")