# Attempt 2
### 100 epochs, Two hidden layers with 120 and 30 units (neurons) respectively.
### 72.8% (slight improvement from increasing neurons)

## Preprocessing

In [52]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import backend as K

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

# Clear session to reset model name counter
K.clear_session

In [53]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], inplace=True, axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [54]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes.index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [55]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 528

# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts.head(20)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [58]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_counts[classification_counts > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [59]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 1883

# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [60]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "STATUS", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "ASK_AMT"]])
dummies.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [61]:
# Split our preprocessed data into our features and target arrays
X = dummies.values
y = application_df["IS_SUCCESSFUL"].values

In [62]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [63]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [64]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=120, activation="relu", input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 120)               8400

 dense_10 (Dense)            (None, 30)                3630

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 12,061
Trainable params: 12,061
Non-trainable params: 0
_________________________________________________________________

In [65]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [66]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5703 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5502 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5494 - accuracy: 0.7302
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7324
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7328
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5455 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7330
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5443 - accuracy: 0.7337
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7340
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7360
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5410 - accuracy: 0.7371
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5408 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5401 - accuracy: 0.7371
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5389 - accuracy: 0.7373
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7375
Epoch 34/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 35/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5392 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5388 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7380
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5385 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7384
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7391
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7387
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7388
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7384
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7385
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7386
Epoch 64/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5357 - accuracy: 0.7393
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 66/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5351 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7397
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 80/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7405
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7392
Epoch 88/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 91/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5336 - accuracy: 0.7394
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7403
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 95/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7406

In [67]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5681 - accuracy: 0.7279 - 768ms/epoch - 3ms/step
Loss: 0.5680744647979736, Accuracy: 0.7279300093650818

In [68]:
# Export our model to HDF5 file
nn.save("Resources/AlphabetSoupCharity_Optimization_2.h5")